# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
src/generated


# Files from Forge MDK
forge*changelog.txt
/run-gametest/
Docs/game-design/00-handoff2.0.md
Docs/planejamento/plano-migracao-documentacao-2026-09-11.md
